// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content article .tag-cloud li{
  display: inline;
  list-style: none outside none;
  padding: 0 4px;
}
article blockquote {
	font-size: 0.9em
}
//Blog logo pic
@media only screen and (min-width: 550px) {

        body > header {
                background: url("/images/logo.png") no-repeat 0 30px;
                background-color: #333333;
        }
		body > header h1 { padding-left: 50px; }
        body > header h2 { 
        	padding-left: 50px; 
        	text-shadow: 1px 1px 4px #020202;
        }
}
//倒圆角
@media only screen and (min-width: 1040px) {
        body > nav {
                @include border-top-radius(.4em);
        }

        body > footer {
                @include border-bottom-radius(.4em);
        }
}