// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content article .tag-cloud li{
  display: inline;
  list-style: none outside none;
  padding: 0 4px;
}
article blockquote {
	font-size: 0.9em
}
//Blog logo pic
@media only screen and (min-width: 550px) {

        body > header {
            background: url("/images/logo.png") no-repeat 0 30px;
            background-size: auto 125px;
            background-color: #333333;
        }
		body > header h1 { 
			padding-left: 55px; 
			/*font-style:italic; */
			font-family: "Zapfino","Snell Roundhand","Lucida Handwriting","PT Serif","Georgia","Helvetica Neue",Arial,serif;
		}
        body > header h2 { 
        	padding-left: 55px; 
        	text-shadow: 1px 1px 4px #020202;
        }
}
//倒圆角
@media only screen and (min-width: 1040px) {
        body > nav {
                @include border-top-radius(.4em);
        }

        body > footer {
                @include border-bottom-radius(.4em);
        }
}

//字体
.serif,body,#content .blog-index a[rel=full-article] {
	font-family: "PT Serif",Georgia,Times,"Times New Roman", "DIN Next Ultra Light", "Helvetica Neue", 
	Helvetica, Arial, "Lantinghei SC", "Hiragino Sans GB", STXihei, "Noto Sans S Chinese", "Microsoft YaHei",
	 "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif
}
h1,h1,h2,h3,h4,h5,h6 {
	font-family:"PT Serif","Georgia","Helvetica Neue", "DIN Next Ultra Light", "Helvetica Neue", 
	Helvetica, Arial, "Lantinghei SC", "Hiragino Sans GB", STXihei, "Noto Sans S Chinese", "Microsoft YaHei", 
	"Microsoft Sans Serif", "WenQuanYi Micro Hei", serif
}
body>header,body>header>hgroup>h2 {
	font-family:"PT Serif","Georgia","Helvetica Neue", "DIN Next Ultra Light", "Helvetica Neue", 
	Helvetica, Arial, "STFangsong", "FangSong", "FangSong_GB2312", SimSun,
	"Microsoft Sans Serif", "WenQuanYi Micro Hei", serif
}

#uyan_frame,.earth {
	margin-top: 5px;
    text-align: center;
}


