// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content article .tag-cloud li{
  display: inline;
  list-style: none outside none;
  padding: 0 4px;
}
article blockquote {
	font-size: 0.9em
}